@use "../../../../../public/assets/styles/variables" as v;
@use "../../../../../public/assets/styles/mixins" as m;

.article {
	padding: m.clamp-f(40px, 80px, 992px, 1320px) 0 m.clamp-f(60px, 120px);

  @include m.tablet {
    padding-top: 20px;
  }

	.article-head {
		line-height: 130%;
		color: v.$color-accent;
		margin-bottom: m.clamp-f(20px, 60px);

		a.article-head-link {
			color: v.$color-accent-light;
			text-decoration: none;
			transition: 0.2s all ease;

			@media(hover: hover) {
				&:hover {
					color: v.$color-accent;
				}
			}
		}
	}

	.article-introduction {
		display: flex;
		justify-content: space-between;
		gap: 106px;
		align-items: start;
		margin-bottom: m.clamp-f(30px, 60px);

    @include m.tablet {
      flex-direction: column;
      gap: 30px;
    }

		.article-introduction-content {
			max-width: 607px;
      width: 100%;

      @include m.tablet {
        max-width: unset;
      }

			.article-title {
				margin-bottom: m.clamp-f(20px, 40px);

				@include m.font-styles('head-lora-38');
			}

			.article-description {

        @include m.font-styles('head-montserrat-20');
			}

      .article-description {
        font-weight: 400;
      }
		}

		.article-introduction-image {
			max-width: 527px;
      width: 100%;
			height: m.clamp-f(200px, 320px);
			background-size: cover;
			background-position: center;
			border-radius: 5px;

      @include m.tablet {
        margin: 0 auto;
        max-width: unset;
      }
		}
	}

	.article-body {
		display: flex;
		justify-content: space-between;
		gap: m.clamp-f(60px, 130px, 992px, 1320px);

    .article-body-wrapper {
      max-width: m.clamp-f(600px, 818px, 992px, 1320px);
      width: 100%;

      @include m.tablet {
        max-width: unset;
      }
    }

		.article-body-content {
			margin-bottom: 60px;

			p, h3, ul, ol {
				margin: 20px 0 0;
			}

			p:first-child, h3:first-child, ul:first-child, ol:first-child {
				margin: 0;
			}

      h1 {
        margin: 40px 0 20px;

        @include m.font-styles('head-lora-38');
      }

			h3 {
				margin: 40px 0 20px;

				@include m.font-styles('head-montserrat-20');
			}

			p {
				font-size: 14px;
				line-height: 130%;
			}

			b {
				display: block;
			}
		}

		.article-body-related {
      margin-top: 60px;

      @include m.tablet {
        position: fixed;
        z-index: 10;
        bottom: 0;
        left: 0;
        background-color: v.$color-white;
        width: 100vw;
        padding: 16px;
        margin: 0;
        box-shadow: 0 -12px 24px rgba(0, 0, 0, 0.1);
      }

			.related-title {
        margin-bottom: 20px;
				@include m.font-styles('head-lora-26');


        @include m.tablet {
          display: none;
        }
			}

      .related-title-mobile {
        display: none;

        @include m.font-styles('head-montserrat-20');

        @include m.tablet {
          display: block;
        }
      }
      .related-items {
        display: flex;
        flex-direction: column;
        gap: 60px;

        @include m.tablet {
          display: none;
        }
      }
		}
	}

	.article-bottom {
		display: flex;
		align-items: center;
		gap: 20px;
		color: v.$color-accent;
		font-size: 14px;
		margin-bottom: 60px;

		.article-bottom-socials {
			display: flex;
			gap: 13px;
			height: 20px;

			a {
				svg {
					width: 20px;
					height: 20px;
					fill: v.$color-accent;
				}

				@media(hover: hover) {

					&:hover {
						svg {
							fill: v.$base-text-color;
						}
					}
				}
			}
		}
	}
}

.related-bottom-sheet {
  position: relative;
  width: 100vw;

  &-close {
    position: absolute;
    top: 8px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;

    svg {
      width: 100%;
      height: auto;
    }
  }

  &-title {
    margin-bottom: 20px;
    @include m.font-styles('head-montserrat-20');
  }

  &-items {
    width: 100%;

    @include m.tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }

    @include m.mobile {
      grid-template-columns: 1fr;
      gap: m.clamp-value-m(40px);
    }

    .article-card {
      padding-bottom: 20px;

      @include m.mobile {
        padding-bottom: m.clamp-value-m(40px);
      }
    }
  }

  &-items > *:only-child {
    grid-column: 1 / -1;
    justify-content: center;
    max-width: calc(50% - 12px);
    margin: 0 auto 20px;

    @include m.mobile {
      max-width: unset;
    }
  }

  > * {
    min-width: 100%;
  }
}

.mat-bottom-sheet-container.cdk-dialog-container.mat-bottom-sheet-container-medium {
  min-width: 100%;
  border-radius: 0;
}
