@use "../../../../../public/assets/styles/variables" as v;
@use "../../../../../public/assets/styles/mixins" as m;

.comments {
    max-width: 854px;
    width: 100%;

    @include m.tablet {
        max-width: unset;
    }

    .comments-title {
        margin-bottom: 20px;

        @include m.head-lora-38;
    }

    .comments-label {
        font-size: 14px;
        margin-bottom: 60px;

        a {
            color: v.$color-accent;
        }
    }

    .comments-first {
        font-size: 14px;
        margin-bottom: 40px;
    }

    .comments-new {
        margin-bottom: 60px;

        textarea {
            width: 100%;
            height: 248px;
            resize: none;
            border: 2px solid v.$color-accent;
            border-radius: 3px;
            font-size: 14px;
            line-height: 130%;
            padding: 20px;
            margin-bottom: 20px;

            &::placeholder {
                color: #A8ABA7;
                font-size: 14px;
                line-height: 130%;
            }
        }

        button.button {
            display: flex;
            padding: 15px 92px;
        }
    }

    .comments-item {
        margin-bottom: 40px;
    }

    .comments-item-head {
        display: flex;
        align-items: center;
        gap: 26px;
        margin-bottom: 15px;

        .comments-item-head-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 3px solid v.$color-accent;
            border-radius: 50%;
            background-color: v.$color-accent-light;
            width: 60px;
            height: 60px;
            overflow: hidden;

            svg {
                width: 44px;
                height: 45px;
                margin-top: 6px;
            }
        }

        .comments-item-head-name {
            color: v.$color-accent;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 18px;
        }

        .comments-item-head-time {
            color: v.$color-gray;
            font-weight: 600;
            font-size: 14px;
        }
    }

    .comments-item-text {
        font-size: 14px;
        margin-bottom: 39px;
    }

    .comments-item-actions {
        display: flex;
        align-items: center;
        gap: 15px;
        transition: 0.2s all ease;
        font-variant-numeric: tabular-nums;

        .comments-item-like, .comments-item-dislike, .comments-item-spam {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 3px;

            svg path {
                stroke: v.$base-text-color;
            }

            @media (hover: hover) {
                &:hover {
                    color: v.$color-accent;

                    svg path {
                        stroke: v.$color-accent;
                    }
                }
            }

            &:active, &.active {
                color: v.$color-accent;

                svg path {
                    stroke: v.$color-accent;
                }
            }
        }
    }

    .comments-more {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
