@use "../../../../../public/assets/styles/variables" as v;
@use "../../../../../public/assets/styles/mixins" as m;

.article-card {
    max-width: 291px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;

    @include m.tablet {
        max-width: unset;
    }

    .article-card-category {
        position: absolute;
        top: 10px;
        right: 9px;
        z-index: 2;
        padding: 10px 18px;
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;
        color: v.$color-accent;
        background-color: v.$color-white;
        border-radius: 5px;
    }

    .article-card-image {
        width: 100%;
        height: 291px;
        min-height: m.clamp-value(291px);
        border-radius: 5px;
        background-size: cover;
        background-position: center;

        @include m.desktop {
            min-height: unset;
            height: 210px;
            flex: 0 0 210px;
            background-position: right center;
        }
    }

    .article-card-title {
        margin: 15px 0 20px;

        @include m.font-styles('head-montserrat-20');
    }

    .article-card-text {
        color: v.$base-text-color;

        @include m.font-styles('body');

        @include m.tablet {
            margin-bottom: 30px;
        }
    }

    .article-card-readmore {
        margin-top: auto;
        justify-self: end;
        font-weight: 400;
        font-size: v.clamp-value-font(16px);
        line-height: 130%;
        text-decoration: none;
        color: v.$color-accent;
        cursor: pointer;
        justify-self: end;
        display: inline-block;
        align-self: start;
        border-bottom: 1px solid v.$color-accent;

        @include m.mobile {
            font-size: v.clamp-value-font-m(16px);
        }
    }
}
