<section class="blog">
    <div class="container">
        <h2 class="blog-title">Блог</h2>
        <div class="blog-head">
            <div class="blog-applied-filters">
                <div class="blog-applied-filter" *ngFor="let appliedFilter of appliedFilters">
                    <span>{{ appliedFilter.name }}</span>
                    <a (click)="removeAppliedFilter(appliedFilter)">
                        <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line x1="0.935531" y1="1.15002" x2="12.9563" y2="13.1708" stroke="#709FDC"
                                  stroke-linecap="round"/>
                            <line x1="12.9236" y1="1.12984" x2="0.902784" y2="13.1507" stroke="#709FDC"
                                  stroke-linecap="round"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="blog-filter" [class.open]="filterOpen">
                <div class="blog-filter-head" (click)="toggleFilterList()">
                    <span>Фильтр</span>
                    <svg *ngIf="!filterOpen" width="20" height="21" viewBox="0 0 20 21" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10 14.5C9.41668 14.5 8.83335 14.275 8.39168 13.8334L2.95835 8.40003C2.71668 8.15837 2.71668 7.75837 2.95835 7.5167C3.20002 7.27503 3.60002 7.27503 3.84168 7.5167L9.27502 12.95C9.67502 13.35 10.325 13.35 10.725 12.95L16.1583 7.5167C16.4 7.27503 16.8 7.27503 17.0417 7.5167C17.2833 7.75837 17.2833 8.15837 17.0417 8.40003L11.6083 13.8334C11.1667 14.275 10.5833 14.5 10 14.5Z"
                            fill="#071739"/>
                    </svg>
                    <svg *ngIf="filterOpen" width="16" height="8" viewBox="0 0 16 8" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.99998 -3.14713e-05C8.58332 -3.14713e-05 9.16665 0.224967 9.60832 0.666634L15.0417 6.09997C15.2833 6.34163 15.2833 6.74163 15.0417 6.9833C14.8 7.22497 14.4 7.22497 14.1583 6.9833L8.72498 1.54997C8.32498 1.14997 7.67498 1.14997 7.27498 1.54997L1.84165 6.9833C1.59999 7.22497 1.19998 7.22497 0.958317 6.9833C0.716651 6.74163 0.716651 6.34163 0.958317 6.09997L6.39165 0.666634C6.83332 0.224967 7.41665 -3.14713e-05 7.99998 -3.14713e-05Z"
                            fill="#071739"/>
                    </svg>
                </div>
                <div class="blog-filter-body">
                    <label class="blog-filter-item" *ngFor="let category of categories">
                        <input type="checkbox" #input
                               [checked]="activeParams.categories.includes(category.url)"
                               (change)="updateFilterParam(category.url, input.checked)">
                        <span>{{ category.name }}</span>
                        <svg *ngIf="!activeParams.categories.includes(category.url)" width="12" height="11"
                             viewBox="0 0 12 11"
                             fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11.12 4.904H6.656V0.511999H5.144V4.904H0.68V6.32H5.144V10.688H6.656V6.32H11.12V4.904Z"
                                fill="#BEBEBE"/>
                        </svg>
                        <svg *ngIf="activeParams.categories.includes(category.url)" width="7" height="3"
                             viewBox="0 0 7 3"
                             fill="none" xmlns="http://www.w3.org/2000/svg">-->
                            <path d="M0.44 2.24H6.728V0.752H0.44V2.24Z" fill="#071739"/>
                        </svg>
                    </label>
                </div>
            </div>
        </div>
        <div class="blog-articles">
            <card-loader *ngIf="!showLabel && (!articles || articles.length === 0)"></card-loader>
            <card-loader *ngIf="!showLabel && (!articles || articles.length === 0)"></card-loader>
            <card-loader *ngIf="!showLabel && (!articles || articles.length === 0)"></card-loader>
            <card-loader *ngIf="!showLabel && (!articles || articles.length === 0)"></card-loader>

            <article-card [article]="article" *ngFor="let article of articles"></article-card>
        </div>

        <div class="blog-label" *ngIf="showLabel">
            Статьи не найдены
        </div>

        <div class="blog-pagination pagination" *ngIf="pages.length > 1">
            <div class="pagination-arrow prev" (click)="openPrevPage()"
                 [class.disabled]="activeParams.page ? activeParams.page === 1 : true">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                    <path d="M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z"/>
                </svg>
            </div>
            <div class="pagination-pages">
                <a class="pagination-page" (click)="openPage(page)"
                   [class.active]="this.activeParams.page ? this.activeParams.page === page : (page === 1)"
                   *ngFor="let page of pages">{{ page }}</a>
            </div>
            <div class="pagination-arrow next" (click)="openNextPage()"
                 [class.disabled]="activeParams.page ? activeParams.page === pages.length : false">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                    <path d="M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z"/>
                </svg>
            </div>
        </div>
    </div>
</section>
