@use '../../../../../public/assets/styles/variables' as v;
@use '../../../../../public/assets/styles/mixins' as m;

footer.footer {
    padding: m.clamp-f(20px, 40px) 0 m.clamp-f(20px, 54px);
    background-color: v.$color-accent-light;

    a {
        color: v.$base-text-color;
        cursor: pointer;
        text-decoration: none;
    }
}

.footer-top {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    @include m.mobile {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    a.logo {
        margin-right: 40px;
    }

    .footer-menu {
        nav ul {
            margin: 0;
            padding: 0;
            display: flex;
            font-size: v.clamp-value-font(16px);
            flex-wrap: wrap;
            justify-content: center;

            @include m.mobile {
                font-size: v.clamp-value-font-m(12px);
            }

            li {
                margin-right: m.clamp-f(12px, 20px);
                list-style: none;
                transition: 0.2s all ease;
            }
        }
    }
}

.footer-bottom {
    display: flex;
    align-items: start;
    margin-bottom: 6px;

    @include m.tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: m.clamp-f(20px, 40px, 320px, 991px);
    }

    @media (max-width: 700px) {
        display: flex;
        flex-direction: column;
    }

    .footer-block {
        margin-right: 60px;
        display: flex;
        flex-direction: column;

        @include m.tablet {
            margin-right: 0;
            width: 100%;
        }

        .footer-head {
            font-weight: 500;
            color: v.$color-accent;
            margin-bottom: 10px;
        }

        .footer-content {
            line-height: 130%;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .button {
            padding: 10px 20px;
            font-weight: 500;
            font-size: v.clamp-value-font(12px);

            @include m.tablet {
                align-self: start;
            }

            @include m.mobile {
                font-size: v.clamp-value-font-m(12px);
                width: 100%;
                max-width: 300px;
            }

            @include m.small-mobile {
                max-width: unset;
            }
        }

        &.footer-block-socials {

            .footer-head {
                margin-bottom: 19px;
            }

            .footer-socials-content {
                display: flex;
                align-items: center;

                a {
                    margin-right: 19px;
                    display: flex;
                    width: 30px;
                    height: 100%;

                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

.footer-copyright {
    color: v.$color-accent;

    @include m.mobile {
        align-self: center;
        margin-top: 20px;
        text-align: center;
        font-size: v.clamp-value-font(16px);
    }
}
