@use "../../../../../public/assets/styles/variables" as v;
@use "../../../../../public/assets/styles/mixins" as m;

.card-loader {
    width: 100%;
    max-width: 291px;
    height: 250px;
    background-image: linear-gradient(0.25turn, transparent, #FFF, transparent),
    linear-gradient(#DDD, #DDD),
    linear-gradient(#DDD, #DDD),
    linear-gradient(#DDD, #DDD);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%, 100% 150px, 85% 20px, 75% 40px;
    background-position: -500px 0, 0 0, 0 170px, 0 200px;
    animation: loading 1.5s infinite;

    @include m.tablet {
        max-width: unset;
        height: 250px;
    }
}

@keyframes loading {
    to {
        background-position: 500px 0, 0 0, 0 170px, 0 200px;
    }
}
