<div class="service-card" *ngIf="service">
	<div class="service-card-image" style="background-image: url('assets/images/services/{{ service.image }}.jpg')"></div>
	<div class="service-card-title">{{ service.title }}</div>
	<div class="service-card-text">{{ service.description }}</div>
	<div class="service-card-bottom">
		<span class="service-card-price">От {{ service.price }}&#8381;</span>
		<button class="button service-card-button-details" (click)="openModal()">Подробнее</button>
	</div>
</div>
