@use "variables" as v;
@use "mixins" as m;

.auth-form {
  margin-top: 14px;

  .auth-title {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: v.clamp-value-font(36px);
    line-height: 130%;
    color: v.$color-accent;
    margin-bottom: m.clamp-f(20px, 40px, 992px, 1320px);

    @include m.tablet {
      text-align: center;
    }

    @include m.mobile {
      font-size: v.clamp-value-font-m(24px);
    }
  }

  .auth-inputs {
    margin-bottom: 40px;

    .auth-input {
      margin-bottom: 5px;

      input {
        width: 100%;
        max-width: 422px;
      }

      &:last-child {
        margin-bottom: 10px;
      }
    }

    .auth-checkbox {
      width: 100%;
      max-width: 422px;
      display: flex;
      align-items: baseline;

      input {
        margin: 0;
      }

      label {
        font-size: 14px;
        line-height: 130%;
        margin-left: 10px;

        a {
          text-decoration: underline;
          color: v.$color-accent;
        }
      }
    }
  }

  .auth-button {
    button.button {
      width: 100%;
      max-width: 422px;
      margin-bottom: 10px;
    }
  }

  .auth-link {
    font-size: 14px;

    a {
      text-decoration: none;
      color: v.$color-accent;
      margin-left: 7px;
    }
  }
}

.auth-image {
  width: 100%;
  max-width: m.clamp-f(400px, 607px, 992px, 1320px);

  @include m.tablet {
    max-width: unset;
  }
}
