.loader {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin 2s infinite linear;

    img {
        width: 160px;
        height: auto;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
